.profile {
  width: 100%;
}
.profileHeader {
  width: 100%;
  margin-top: 32px;
}
.profileList {
  gap: 100px;
}
.profileList li {
  font-weight: 500;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}
.profileList li.active {
  color: var(--blue-color);
  border-bottom: 3px solid var(--blue-color);
}
.patientCard {
  width: 100%;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 2px 10px #0000001a;
  background-color: var(--white-color);
  margin-top: 44px;
}
.patientCardHeader {
  gap: 10px;
}
.patientCardHeader img {
  width: 5em; /* 123px / 16 = 7.6875em */
  height: 5em;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ddd;
}
.name {
  font-weight: 700;
}
.idNo {
  font-weight: 300;
  margin-top: 2px;
  opacity: 0.6;
}
.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  box-shadow: 1px 1px 2px #ddd;
}
