.Cart {
  width: 100%;
  gap: 50px;
  margin-top: -60px;
}
.orderSummary {
  justify-content: space-between;
  width: 350px;
  height: 600px;
  background-color: var(--blue-color);
  border-radius: 35px;
  padding: 30px;
  color: var(--white-color);
  margin-top: 100px;
}
.drugList {
  margin-top: 30px;
}
.cartTitle {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}
.cartTitle h3 {
  font-weight: 400;
}
.checkoutTitle {
  font-weight: 700;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}
.subtotal,
.delivery,
.total {
  width: 100%;
  padding-bottom: 20px;
}
.subtotal {
  margin-top: 20px;
}
.subtotal,
.delivery {
  border-bottom: 1px solid #ddd;
  margin-top: 1.2em;
}
.subtotal h3,
.delivery h3,
.total h3 {
}
.bold {
  font-weight: 900;
}
.total {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 4em;
}
.checkout {
  width: 100%;
  background-color: var(--white-color);
  height: 60px;
  border-radius: 10px;
  color: var(--blue-color);
}
