.OrderMedicine {
  width: 100%;
  margin-top: 1.25em;
  padding-bottom: 2em;
}

.Banner {
  width: 96%;
  height: 200px;
  padding: 1.25em 3.125em;
  background-color: var(--blue-color);
  margin-top: 2.5em;
  box-shadow: 0.0625em 0.0625em 0.25em #ddd;
  border-radius: 1.25em;
  color: var(--white-color);
  margin-inline: auto;
}
.medicineBanner {
  width: 12em;
}
.title {
  font-weight: 900;
}
.description {
  margin-top: 0.625em;
  margin-bottom: 1.25em;
  color: var(--white-color);
}
.btn {
  width: 170px;
  height: 40px;
  background-color: var(--white-color);
  color: var(--blue-color);
  border-radius: 0.9375em;
  font-weight: 700;
  margin-top: 10px;
}
.AllDrugsContainer,
.DrugList {
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 30px;
  margin-inline: auto;
}
.DrugList{
   width: 100%;
}
.titleContainer {
  margin-inline: auto;
  width: 100%;
  margin-top: 1.25em;
}
.viewAll,
.pageTitle {
  font-weight: 600;
  font-size: 16px;
}
.viewAll {
  text-decoration: underline;
}
