.UpdatePassword {
  width: 100%;
  align-items: start;
}
.passwordContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #edededcc;
  padding: 2px 5px;
  width: 100%;
  height: 60px;
  border-radius: 20px;
  outline: none;
}
.pass {
  width: 100%;
  font-size: 16.5px;
  opacity: 0.7;
  outline: none;
  border: none;
  background-color: transparent;
}
.PassIcon {
  font-size: 34px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #868686;
}
.icon:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
.passwordContainer {
  position: relative;
  flex-wrap: nowrap;
  background-color: #edededcc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;

}
.pass {
  background-color: #edededcc;
  position: absolute;
  left: 0;
  max-width: 80%;
  height: 100%;
  font-size: 15px;
  background-color: transparent;
  }
  .PassIcon{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: #2563eb;
  }
}

