.session {
  gap: 60px;
  /* margin-top: 22px; */
  margin-top: 50px;
}
.session li:not(:first-child) {
  list-style: disc;
}

.table {
  width: 508px;
  table-layout: fixed;
}
.table td {
  padding-top: 30px;
  padding-bottom: 15px;
}
.table td {
  border-bottom: 0.5px solid #00000080;
}
.available {
  color: #1c8607;
}
.head {
  font-weight: 700;
}
