.sidebar {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.newChat {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #333;
}

.icons{
  font-size: 24px;
  color: #1a73e8;
  opacity: 1;
}

.chatList {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.chatItem {
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.chatItem:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #d9e8ff;
}
