.ConsultBooking {
  width: 100%;
  margin-top: 20px;
}
.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
.iconBox {
  height: 166px;
  gap: 7px;
}
.iconDiv {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 2px 4px #ccc;
}
.iconDiv:hover {
  transform: scale(0.9);
  transition: 0.3s all ease-in-out;
}
.icon {
  color: var(--blue-color);
  font-size: 40px;
}
.name {
  font-weight: 500;
  opacity: 0.6;
}
.iconsContainerAll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2em;
}
.iconBoxAll {
  width: 300px;
  height: 280px;
  border-radius: 30px;
  gap: 20px;
  background-color: var(--white-color);
  box-shadow: 1px 1px 4px var(--blue-color);
}
.iconDivAll {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 2px 4px 8px #bbb;
  background-color: var(--blue-color);
}
.iconDivAll .icon {
  color: var(--white-color);
}
.amount {
  color: #1771b7cc;
}
