.personalInformation {
  width: 100%;
  background-color: var(--white-color);
  padding: 1.25rem; /* 20px */
  border-radius: 0.625rem; /* 10px */
  padding-bottom: 5em;
  margin-bottom: 2em;
}
.infoTable,
.AccountInformation {
  margin-top: 22px;
}
.heading h2 {
  font-weight: 700;
}
.infoTable table {
  width: 100%;
  table-layout: fixed;
}
.infoTable table td,
li {
  font-size: 18px;
  font-weight: 400;
}
.td {
  opacity: 0.6;
  padding-top: 10px;
}
.editButton {
  gap: 1.25rem; /* 20px */
  border: 1px solid #ddd;
  border-radius: 0.625rem; /* 10px */
  width: 120px; /* 141px */
  height: 40px; /* 58px */
  box-shadow: 0.0625rem 0.0625rem 0.125rem #ddd; /* 1px 1px 2px */
}
