.UpdatesPersonalInfo {
  width: 100%;
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 10px;
  margin-top: 62px;
  align-items: start;
}

.UpdatesPersonalInfo .fullName,
.UpdatesPersonalInfo .Email,
.UpdatesPersonalInfo .OtherDetails {
  width: 100%;
  margin-top: 20px;
}
.UpdatesPersonalInfo .fullName div,
.UpdatesPersonalInfo .Email div,
.UpdatesPersonalInfo .OtherDetails div,
.UpdateVaccine {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.UpdatesPersonalInfo .OtherDetails div input,
select {
  font-size: 20px;
  height: 60px;
}
select {
  width: 100%;
  accent-color: var(--blue-color);
  background-color: #edededcc;
  border-radius: 24px;
  padding: 10px;
}
.UpdateAddress {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
}

.UpdatePassword {
  width: 100%;
  align-items: start;
}
.passwordContainer {
  background-color: #edededcc;
  padding: 2px 5px;
  width: 100%;
  height: 60px;
  border-radius: 20px;
  outline: none;
}
.UpdatePassword .pass {
  font-size: 16.5px;
  opacity: 0.7;
  outline: none;
  border: none;
  background-color: transparent;
}
.PassIcon {
  font-size: 34px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #868686;
}
.icon:hover {
  transform: scale(1.05);
}
