.bannerContainer {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 0px 81px 0px 81px;
  margin-inline: auto;
  display: flex;
  gap: 150px;
  margin-top: 62px;
}
.bannerContainer::before {
  content: "";
  width: 445.34px;
  height: 445.34px;
  position: absolute;
  border: 2.5em solid var(--blue-color);
  border-radius: 50%;
  opacity: 0.5;
  right: -200px;
  top: 40px;
}
.bannerContainer::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 140%;
  background-color: var(--white-color);
  border-radius: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  bottom: -70%;
  right: -206px;
  z-index: -2;
}
.heading {
  font-size: 70px;
  font-weight: 700;
  color: var(--blue-color);
  line-height: 68px;
  span {
    color: var(--hover-color);
  }
}
p.text {
  opacity: 0.8;
  margin-top: 25px;
  margin-bottom: 53px;
  width: 550px;
}
.link {
  text-decoration: none;
}
.imgContainer {
  width: 37%;
  z-index: 2;
}
.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.decorationImage {
  position: absolute;
  width: 31%;
  right: 300px;
  bottom: 40px;
  z-index: 3;
}

.btnContainer {
  margin-top: 2em;
}
.btnContainer button {
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
  color: var(--white-color);
  padding: 7px 10px;
  border-radius: 10px;
}
.ctaContainer {
  position: absolute;
  width: 54.33%;
  height: 120px;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  gap: 40px;
  box-shadow: 1px 1px 2px #ddd;
  bottom: 51px;
  z-index: 10;
}
.ctaContainer button {
  font-size: 16.5px;
  width: 180px;
  height: 50px;
  background-color: var(--white-color);
  border: 1px solid var(--blue-color);
  padding: 19px 0px;
  text-align: center;
  border-radius: 10px;
  color: var(--blue-color);
}
.ctaContainer .link {
  text-decoration: none;
}
.ctaContainer button.active {
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  color: var(--white-color);
}
