.Contact {
  width: 100%;
  display: grid;
  place-content: center;
  padding: 5em 81px 5em 81px;
  background-color: var(--white-color);
}
.Contact .logoContainer {
  width: 500px;
  margin-inline: auto;
}

.Contact .logoContainer img {
  width: 100%;
  object-fit: cover;
}
.Contact .subscribeContainer {
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 1px 0px 4px #ddd;
  padding: 3em;
  margin-top: 2em;
}
.Contact .subscribeContainer h1 {
  text-align: center;
  font-weight: 700;
  color: var(--hover-color);
  line-height: 60px;
}
.Contact .subscribeContainer h1 span {
  color: var(--blue-color);
}
.Contact .subscribeContainer p {
  text-align: center;
}
.Contact .inputContainer {
  margin-top: 2em;
  width: 100%;
  height: 65px;
  padding: 0px 10px 0px 24px;
  border-radius: 8px;
  background-color: #f8f8f8;
  margin-inline: auto;
}
.Contact .inputContainer input {
  width: 70%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
.Contact .inputContainer button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 0.8em;
  width: 120px;
  height: 46px;
  border-radius: 10px;
}


/* ----------- Responsive Styles ----------- */
@media (max-width: 900px) {
  .Contact {
    padding: 2em 12px 2em 12px;
  }
  .Contact .logoContainer {
    width: 250px;
  }
  .Contact .subscribeContainer {
    padding: 2em;
    margin-top: 1em;
  }
  .Contact .subscribeContainer h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .Contact .inputContainer {
    height: 50px;
    padding: 0px 6px 0px 12px;
  }
  .Contact .inputContainer button {
    width: 90px;
    height: 36px;
    font-size: 15px;
    padding: 0.5em;
  }
}

@media (max-width: 600px) {
  .Contact {
    width: 90%;
    align-items: center;
    padding: 1em 4px 1em 4px;
    margin-top: 50px;
    margin-inline: auto;
  }
  .Contact .logoContainer {
    width: 150px;
  }
  .Contact .subscribeContainer {
    padding: 1em;
    margin-top: 0.5em;
  }
  .Contact .subscribeContainer h1 {
    font-size: 16px;
    line-height: 22px;
  }
  .Contact .subscribeContainer p {
    font-size: 13px;
  }
  .Contact .inputContainer {
    height: 38px;
    padding: 0px 2px 0px 6px;
    /* flex-direction: column; */
    gap: 6px;
  }
  .Contact .inputContainer input {
    width: 100%;
    font-size: 13px;
    margin-bottom: 4px;
  }
  .Contact .inputContainer button {
    width: 70px;
    height: 28px;
    font-size: 12px;
    padding: 0.3em;
  }
}