.Contact {
  width: 100%;
  display: grid;
  place-content: center;
  padding: 5em 81px 5em 81px;
  background-color: var(--white-color);
}
.Contact .logoContainer {
  width: 500px;
  margin-inline: auto;
}

.Contact .logoContainer img {
  width: 100%;
  object-fit: cover;
}
.Contact .subscribeContainer {
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 1px 0px 4px #ddd;
  padding: 3em;
  margin-top: 2em;
}
.Contact .subscribeContainer h1 {
  text-align: center;
  font-weight: 700;
  color: var(--hover-color);
  line-height: 60px;
}
.Contact .subscribeContainer h1 span {
  color: var(--blue-color);
}
.Contact .subscribeContainer p {
  text-align: center;
}
.Contact .inputContainer {
  margin-top: 2em;
  width: 100%;
  height: 65px;
  padding: 0px 10px 0px 24px;
  border-radius: 8px;
  background-color: #f8f8f8;
  margin-inline: auto;
}
.Contact .inputContainer input {
  width: 70%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
.Contact .inputContainer button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 0.8em;
  width: 120px;
  height: 46px;
  border-radius: 10px;
}
