.Footer {
  width: 100%;
  padding: 5em 81px 0px 81px;
  background-color: #f8f8f8;
}
.Footer .logoContainer {
  width: 300px;
  margin-inline: auto;
}
.Footer .logoContainer img {
  width: 100%;
  object-fit: cover;
}
.horizontalLine {
  width: 120%;
  border: 1px solid #ddd;
}
.copyContainer,
.copy,
.socialMediaContainer {
  gap: 2em;
  padding: 1px 2em 1em 2em;
}
.Footer .text {
  width: 541px;
  margin-top: 3em;
  margin-bottom: 10em;
  opacity: 0.7;
  margin-inline: auto;
  text-align: center;
  opacity: 0.9;
}
.Footer .navList {
  margin-inline: auto;
  flex-wrap: wrap;
  gap: 40px;
  padding: 2em 0px 2em 0px;
}
.Footer .navList li {
  cursor: pointer;
}
.Link {
  color: var(--blue-color);
  text-decoration: none;
}
