.HowItWorks {
  position: relative;
  width: 100%;
  margin-inline: auto;
  height: 800px;
  background-color: var(--white-color);
  padding: 195px 0px 200px 0px;
  display: flex;
  gap: 143px;
  margin-inline: auto;
}
.imgContainer {
  width: 48%;
}
.imgContainer img {
  width: 100%;
  object-fit: cover;
}
.imgContainer::before {
  content: "";
  width: 55%;
  height: 90%;
  background-color: var(--background-color);
  border-radius: 50%;
  position: absolute;
  right: -320px;
  top: 22px;
  z-index: 1;
}
.infoContainer {
  margin-right: 4em;
  width: 627px;
  z-index: 2;
}
.heading {
  font-size: 60px;
  color: var(--blue-color);
  font-weight: 700;
  line-height: 72px;
}
.heading span {
  color: var(--hover-color);
}

p {
  margin-top: 72px;
  opacity: 0.8;
}
.table {
  table-layout: fixed;
  margin-top: 40px;
}
.table td {
  padding-top: 10px;
  padding-right: 20px;
  opacity: 0.9;
}
.table td li {
  display: flex;
  gap: 10px;
  font-weight: 500;
  color: var(--blue-color);
}
.table td li span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blue-color);
  color: var(--white-color);
  text-align: center;
}
.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 600;
}
/* .table td */
.makeAppointment {
  width: 170px;
  height: 50px;
  background-color: var(--blue-color);
  padding: 7px 10px;
  color: var(--white-color);
  border-radius: 8px;
  margin-top: 49px;
}
