.navContainer {
  width: 100%;
  padding: 0px 81px 0px 81px;
  margin-inline: auto;
  flex-wrap: wrap;
  height: 120px;
}
.Link {
  color: #1c044b;
  text-decoration: none;
}
.logoContainer {
  width: 120px;
}
.logoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navList {
  gap: 40px;
}
.ctaContainer {
  gap: 30px;
}
.ctaContainer button {
  width: 120px;
  height: 42px;
  background-color: var(--blue-color);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--white-color);
  border: 1px solid var(--blue-color);
  text-align: center;
}
button.signIn {
  background-color: transparent;
  color: var(--blue-color);
}
