.sidebar {
  position: relative;
  background-color: var(--blue-color);
  min-width: 200px;
  width: 14%;
  height: 100vh;
  position: fixed;
  padding: 0.6em 0.6em 4rem 1em;
  border-radius: 0 3.125rem 3.125rem 0; /* 50px */
  top: 0;
  left: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.logo {
  /* width: 12%; */
  background-color: var(--blue-color);
  position: fixed;
  border-top-right-radius: 0.9375rem; /* 15px */
  padding-bottom: 1rem;
  z-index: 2;
}
.logo img {
  width: 150px;
  height: 2rem;
  margin-top: 3rem;
  object-fit: contain;
  cursor: pointer;
}
.menu ul {
  margin-top: 130px; 
}
.menu ul li {
  cursor: pointer;
  margin-top: 2rem; /* 50px */
  color: var(--white-color);
}
.menu ul li button {
  background-color: transparent;
  color: var(--white-color);
  opacity: 0.7;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}
.menu ul li button .icon {
  font-size: 28px;
}
.menu ul li button.active {
  opacity: 1;
  background: #FFFFFF1A;
  box-shadow: 1px 1px 0px 0px #ffffff75, -1px -1px 0px 0px #ffffff85;
  padding: 6px 10px;
  border-radius: 15px;
  backdrop-filter: blur(20px);
}
.menu ul li button.active .icons {
  opacity: 1;
}
