.MainDashboard {
  position: relative;
  width: 86vw;
  margin-top: 40px;
  padding: 0px 60px 2em 40px;
  margin-left: 14.5%;
}
.nav {
  width: 100%;
  margin-inline: auto;
}
.heading {
  font-weight: 700;
}
.icon {
  color: var(--blue-color);
  cursor: pointer;
}
.aiContainer {
  top: 0;
  position: fixed;
  height: 102vh;
  width: 92vw;
  z-index: -1;
}
