.FeedbackCard {
  width: 100%;
  height: 288px;
  padding: 20px 40px;
  gap: 40px;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 1px 1px 1px 2px #ecebeb;
}
.profileContainer {
  position: relative;
  width: 240px;
  display: flex;
}
.profileContainer .blury {
  filter: blur(1px);
  border-radius: 10px;
  object-fit: cover;
  min-width: 12em;
}
.profileContainer .sideImage {
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
  width: 7em;
  inset: 3em -2em 3em 9em;
}
.detailsContainer {
  margin-left: 40px;
}
.detailsContainer .name {
  font-weight: 700;
  color: var(--hover-color);
  width: 8em;
}
.detailsContainer .username {
  margin-top: -4px;
  color: var(--blue-color);
}
.detailsContainer .text {
  margin-top: 20px;
  width: 80%;
}
.star {
  margin-top: 20px;
}
