.TeamCard {
  width: 29%;
  height: 450px;
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 1px 1px 3px #ddd;
  z-index: 5;
}

.imgProfile {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  object-fit: cover;
}
.TeamCard .name {
  padding-top: 1em;
  font-weight: 600;
}
.TeamCard .role {
  margin-top: 8px;
}
