.TeamCard {
  width: 29%;
  height: 450px;
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 1px 1px 3px #ddd;
  z-index: 5;
}

.imgProfile {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  object-fit: cover;
}
.TeamCard .name {
  padding-top: 1em;
  font-weight: 600;
}
.TeamCard .role {
  margin-top: 8px;
}


/* ----------- Responsive Styles ----------- */
@media (max-width: 900px) {
  .TeamCard {
    width: 80%;
    height: auto;
    padding: 18px;
    margin: 0 auto 18px auto;
  }

  .imgProfile {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 600px) {
  .TeamCard {
    width: 100%;
    height: auto;
    padding: 12px;
    margin: 0 auto 12px auto;
  }
  .imgProfile {
    width: 90px;
    height: 90px;
  }
  .TeamCard .name {
    font-size: 16px;
    padding-top: 0.7em;
  }
  .TeamCard .role {
    font-size: 13px;
    margin-top: 6px;
  }
}
