@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --blue-color: #1771b7;
  --white-color: #ffffff;
  --background-color: #f5f8ff;
  --hover-color: #2d2d5b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  font-family: "Lato", sans-serif;
  opacity: 0.9;
}
h1,
#text40 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
h3,
#text30 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
#mediumText {
  font-size: 14px;
}
button,
h5 {
  font-size: 15px;
  background-color: transparent;
}
button:disabled {
  background-color: #ddd;
  cursor: wait;
}

h6 {
  font-size: 18px;
}

select { 
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("/icons/vector.svg"); /* correct path */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
p,
input,
select {
  font-size: 14px;
  outline: none;
  border: none;
}
input:user-invalid {
  outline: 1px solid red;
}
/* input:user-valid {
  outline: 1px solid green;
} */
#flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
#flexAlignCenter {
  display: flex;
  align-items: center;
}
#flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#flexColumn {
  display: flex;
  flex-direction: column;
}
#flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#text25 {
  font-size: 18px;
}
#mediumText {
  list-style: none;
  font-size: 16.5px;
}
#smallText {
  font-size: 14px;
}
li,
button {
  list-style: none;
  font-family: "Lato", sans-serif;
  opacity: 0.9;
}
button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  background-color: transparent;
}
.icon:hover,
button:hover {
  transform: scale(1.05);
}
