.Preview {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  /* align-items: start; */
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 30px;
}
.imgContainer {
  max-width: 400px;
  width: 40%;
  height: 300px;
  border-radius: 20px;
  background: #a9a9a914;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px #ddd;
}
.imgContainer img {
  width: 50%;
}
.details {
  width: 50%;
}
.details .title {
  font-weight: 600;
}
.priceContainer,
.controlContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.priceContainer .price {
  font-weight: 800;
}
.priceContainer .price span {
  opacity: 0.6;
  text-decoration: line-through;
}
.discount {
  color: #087420;
  margin-top: 2px;
}
.controlContainer {
  gap: 20px;
}
.controlContainer h2 {
  font-weight: 900;
}
.controlContainer button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1.5px solid #222;
  font-weight: 900;
  font-size: 18px;
}
.addToCart {
  background-color: var(--blue-color);
  color: var(--white-color);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 70px;
}
.descriptionTitle {
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 23px;
}
.descriptionContainer {
  width: 100%;
  background-color: #f0f3f9;
  border-radius: 20px;
  padding: 30px;
  gap: 2em;
}

.mainDetails {
  border-bottom: 1.5px solid #ddd;
  padding-bottom: 25px;
}
.title2 {
  font-weight: 400;
  margin-bottom: 23px;
}
.mainDetails .description {
  width: 100%;
}
.reviewContainer {
  border-radius: 10px;
  background-color: var(--white-color);
  padding: 10px 20px;
  border: 1px solid #ddd;
}

.profileDetails {
  gap: 10px;
}
.name {
  font-weight: 400;
}
.date {
  margin-top: 3px;
}
.profileImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #f0f3f9;
  border-radius: 50%;
}
.rating {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.ratingText {
  font-size: 18px;
  max-width: 1000px;
  margin-top: 10px;
  margin-left: 55px;
}
.star {
  color: rgb(223, 190, 5);
}
